<a href="https://colab.research.google.com/github/thicma/ADSImp/blob/master/scratchpad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

notas = pd.read_csv("ratings.csv")
notas.head(10)

   userId  movieId  rating    timestamp
0       1        1     4.0  964982703.0
1       1        3     4.0  964981247.0
2       1        6     4.0  964982224.0
3       1       47     5.0  964983815.0
4       1       50     5.0  964982931.0
5       1       70     3.0  964982400.0
6       1      101     5.0  964980868.0
7       1      110     4.0  964982176.0
8       1      151     5.0  964984041.0
9       1      157     5.0  964984100.0

In [6]:
notas.shape

(85271, 4)

In [7]:
notas.columns = ['usuarioId', 'filmeId', 'nota', 'momento']
notas.head()

   usuarioId  filmeId  nota      momento
0          1        1   4.0  964982703.0
1          1        3   4.0  964981247.0
2          1        6   4.0  964982224.0
3          1       47   5.0  964983815.0
4          1       50   5.0  964982931.0

In [8]:
notas['nota'].value_counts()

4.0    23131
3.0    16772
5.0    11506
3.5    11037
4.5     7407
2.0     6430
2.5     4110
1.0     2354
1.5     1367
0.5     1156
Name: nota, dtype: int64